@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Critterpedia Plus!</h1>
    <p class="lead"><strong>Browse Critters</strong> without logging in, or <strong>Log In</strong> to keep track of which critters you've caught or put into the museum!</p>
</div>
